@charset "UTF-8";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Raleway" ;
}

.btn, .our-text, .footer {
  font-family: "Lato" ;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  position: absolute;
  left: 90%;
  top: 20%;
}

.btn:hover {
  color: #333;
  transition: all .3s;
}

.fa-bolt {
  padding: 15px 0;
  position: relative;
  left: 10%;
  color: #4e4e4e;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
}

.theme-inner {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}

.theme-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 250px;
  box-sizing: border-box;
}

.theme-subtitle {
  color: #c0c0c0;
  font-size: 30px;
  padding-bottom: 250px;
}

.what-inner {
  width: 100%;
  background-color: #74cfae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-box {
  text-align: center;
  width: 750px;
  padding: 100px 0 100px 150px;
}

.what-title {
  color: #fff;
  font-size: 24px;
}

.what-img {
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

.what-text {
  color: #fff;
  font-size: 20px;
  padding-top: 35px;
}

.article-inner {
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
}

.article-title {
  padding-top: 60px;
  font-size: 24px;
}

.article-text {
  padding-right: 90px;
  width: 500px;
  padding-bottom: 70px;
}

.article-btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  margin-bottom: 80px;
}

.article-img-box {
  margin-left: 100px;
  opacity: 0.7;
}

.article-img-box:hover {
  transition: all .3;
  opacity: 1;
}

.article-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 50px;
}

.article-img-box:nth-child(-n+3) {
  margin-bottom: 80px;
}

.article-img-box:nth-child(3n+1) {
  margin-left: 0px;
}

.our-inner {
  width: 100%;
  background-color: #4e4e4e;
  text-align: center;
}

.our-title {
  color: #fff;
  padding: 70px 0;
  font-size: 24px;
}


.our-box {
  padding-bottom: 100px;
}

.our-figure {
  margin-left: 180px;
}

.our-figure:nth-child(1) {
  margin-left: 0px;
}

.our-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}

.nav-inner {
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}

.nav-icon {
  color: #74cfae;
}

.nav-icon-box {
  padding: 50px 92.5px;
}

.nav-icon-box:hover {
  background-color: #fff;
  transition: all .3s;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-text {
  color: #fff;
  padding: 20px 0 25px 0;
  font-size: 12px;
  position: relative;
  left: 90%;
}


右に大きな余白
innerが機能してない
innerに収まってない(header)
