@charset "UTF-8";

.wrap {
  overflow: hidden;
}

main {
  padding-top: 70px;
}

body {
  font-family: "Lato";
}

input {
  display: none;
}

.title-font {
  font-family: "Raleway";
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: inline-block;
}

img {
  vertical-align: middle;
}

.btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  transition: all .3s;
  text-decoration: none;
}

.btn:hover {
  color: #333;
  transition: all .3s;
}


.header-icon {
  color: #4e4e4e;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme {
  width: 100%;
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
}

.theme-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-subtitle {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.what {
  width: 100%;
  background-color: #74cfae;
  color: #fff;
}

.what-inner {
  padding-top: 50px;
}

.what-box {
  margin-left: 150px;
}

.what-title {
  font-size: 24px;
}

.what-text {
  width: 650px;
  font-size: 20px;
  margin-top: 35px;
}

.article {
  background-color: #f2f2f2;
  width: 100%;
}

.article-inner {
  padding: 60px 0 70px;
}

.article-title {
  font-size: 24px;
}

.article-text {
  width: 500px;
}

.article-btn {
  padding: 14px 20px;
  margin-left: 90px;
}

.article-img-box {
  margin-left: 100px;
  opacity: 0.7;
  transition: all .3s;
  width: 300px;
}

.article-img-box:hover {
  transition: all .3s;
  opacity: 1;
}

.article-img-box:nth-child(n+4) {
  margin-top: 80px;
}

.article-img-box:nth-child(3n+1) {
  margin-left: 0px;
}

.article-box {
  flex-wrap: wrap;
  margin-top: 40px;
}

.article-text-box {
  margin-top: 90px;
}

.our {
  width: 100%;
  background-color: #4e4e4e;
  color: #fff;
}

.our-inner {
  padding: 70px 0 100px;
}

.our-title {
  font-size: 24px;
}

.our-figure-box {
  margin-top: 70px;
}

.our-figure {
  margin-left: 180px;
}

.our-figure:first-child {
  margin-left: 0;
}

.our-text {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.nav {
  background-color: #f2f2f2;
  width: 100%;
}

.nav-inner {
  padding: 200px 0;
}

.nav-icon {
  color: #74cfae;
  width: 185px;
}

.nav-icon-box {
  transition: all .3s;
}

.nav-icon-box:hover {
  background-color: #fff;
  transition: all .3s;
}

.nav-link {
  padding: 35px 0;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer-text {
  color: #fff;
  text-align: right;
}

@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  
  .responsive-box {
    flex-direction: column;
  }

  .margin-none {
    margin-left: 0;
  }
  
  .theme-inner {
    padding: 160px 0 130px;
  }
  
  .theme-title {
    font-size: 80px;
  }

  .what-box {
    margin-top: 20px;
  }

  .what-inner {
    padding-bottom: 25px;
  }

  .what-text {
    width: 100%;
  }

  .article-img-box:nth-child(n+4) {
    margin-top: 0px;
  }
  .article-img-box:nth-child(4n) {
    margin-top: 80px;
  }

  .article-text {
    width: 90%;
  }
  
  .article-text-box {
    margin-top: 80px;
  }

  .article-btn {
    margin-top: 40px;
  }
  
  .our-figure:nth-child(n+2) {
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
.sp-only {
  display: none;
  }

  .responsive-box-sp {
    flex-direction: column;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 30px;
    z-index: 9999;
    padding:10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #f2f2f2;
  }
  
  .menu-line {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    position: absolute;
    background-color: #f2f2f2;
  }
  
  .bottom {
    bottom: 8px;
  }
  
  .top {
    top: 8px;
  }

  .nav-inner {
    padding: 50px 0;
  }

  .nav-icon-width {
    width: 100%;
  }
}